@model Pagination<Income>

@{
    ViewData["Title"] = "Index";
}



<div class="add-button-container">
<a class="btn add-button" asp-controller="Income" asp-action="Create" method="Get">+ Add Income</a>
</div>


@if (Model.Items.Count() > 0)
{

    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>AccountName</th>

            </tr>


        </thead>

        <tbody>
            @foreach (var Income in Model.Items)
            {
                <tr>
                    <td hidden>@Income.Id</td>
                    <td>@Income.Amount</td>
                    <td>@Income.Date</td>
                    <td> @Income.AccountName </td>

                    <td>
                        <a class="btn table-btn" asp-controller="Income" asp-action="Details" asp-route-id="@Income.Id">Details</a>
                    </td>

                    <td>
                        <a class="btn table-btn" asp-controller="Income" asp-action="Edit" asp-route-id="@Income.Id">Edit</a>
                    </td>

                    <td>
                        <a id="Delete" class="btn table-btn" asp-controller="Income" asp-action="Delete" asp-route-id="@Income.Id">Delete</a>
                    </td>





                </tr>


            }
        </tbody>


    </table>

<div class="pagination">
  @{
    var TotalPages = (Model.Count + Model.PageSize - 1) / Model.PageSize;

    if(Model.PageNo != 1){
       <a asp-controller="Income" asp-action="Index" asp-route-PageIndex="@(Model.PageNo - 1)">&laquo;</a>
    }

    for(int i = 1;i<=TotalPages;i++){
        <a asp-controller="Income" asp-action="Index" asp-route-PageIndex = "@i">@i</a>
    }

    if(Model.PageNo != TotalPages){
        <a asp-controller="Income" asp-action="Index" asp-route-PageIndex="@(Model.PageNo + 1)">&raquo;</a>
    }

  }
</div>

}
else
{
    <h1>No Income</h1>
}


