@model Pagination<Expense>

@{
    ViewData["Title"] = "Expenses";
}




<div class="add-button-container">
    <a class="btn add-button" asp-controller="Expense" asp-action="Create" method="Get">+ Add Expense</a>
</div>

@if (Model.Items.Count() > 0)
{

    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>AccountName</th>

            </tr>


        </thead>

        <tbody>
            @foreach (var Expense in Model.Items)
            {
                <tr>
                    <td>@Expense.Amount</td>
                    <td>@Expense.Category</td>
                    <td>@Expense.Date</td>
                    <td>@Expense.AccountName</td>
                    
                    <td>
                        <a  class ="btn table-btn" asp-controller="Expense" asp-action="Details" asp-route-id="@Expense.Id" method="Get">Details</a>
                    </td>


                    <td>
                        <a class="btn table-btn"  asp-controller="Expense" asp-action="Edit" asp-route-id="@Expense.Id" method="Get">Edit</a>
                    </td>


                    <td>
                        <a class="btn table-btn"  asp-controller="Expense" asp-action="Delete" asp-route-id="@Expense.Id" method="Get">Delete</a>
                    </td>

                </tr>



            }
        </tbody>


    </table>

    <div class="pagination">
  @{
    var TotalPages = (Model.Count + Model.PageSize - 1) / Model.PageSize;

    if(Model.PageNo != 1){
       <a asp-controller="Expense" asp-action="Index" asp-route-PageIndex="@(Model.PageNo - 1)">&laquo;</a>
    }

    for(int i = 1;i<=TotalPages;i++){
        <a asp-controller="Expense" asp-action="Index" asp-route-PageIndex = "@i">@i</a>
    }

    if(Model.PageNo != TotalPages){
        <a asp-controller="Expense" asp-action="Index" asp-route-PageIndex="@(Model.PageNo + 1)">&raquo;</a>
    }

  }
</div>

}
else
{
    <h2>No Expenses</h2>
}


