@model Pagination<Account>

@{
    ViewData["Title"] = "Index";
}



<div class="add-button-container">
<a class="btn add-button"  asp-controller="Account" asp-action="Create" method="Get">+ Create Account</a>
</div>


@if(Model.Items.Count() > 0){

    <div class="account-table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Type</th>


                </tr>


            </thead>

            <tbody>
                @foreach (var Account in Model.Items)
                {
                    <tr>
                        <td hidden>@Account.Id</td>
                        <td>@Account.Name</td>
                        <td>@Account.Balance</td>
                        <td>@Account.Type</td>

                        <td>
                            <a class="btn table-btn" asp-controller="Account" asp-action="Details" asp-route-id="@Account.Id">Details</a>
                        </td>

                        <td>
                            <a class="btn table-btn" asp-controller="Account" asp-action="Edit" asp-route-id="@Account.Id">Edit</a>
                        </td>

                        <td>
                            <a id="Delete" class="btn table-btn" asp-controller="Account" asp-action="Delete" asp-route-id="@Account.Id">Delete</a>
                        </td>





                    </tr>


                }
            </tbody>


        </table>
  
  <div class="pagination">
  @{
    var TotalPages = (Model.Count + Model.PageSize - 1) / Model.PageSize;

    if(Model.PageNo != 1){
       <a asp-controller="Account" asp-action="Index" asp-route-PageIndex="@(Model.PageNo - 1)">&laquo;</a>
    }

    for(int i = 1;i<=TotalPages;i++){
        <a asp-controller="Account" asp-action="Index" asp-route-PageIndex = "@i">@i</a>
    }

    if(Model.PageNo != TotalPages){
        <a asp-controller="Account" asp-action="Index" asp-route-PageIndex="@(Model.PageNo + 1)">&raquo;</a>
    }

  }
</div>


    </div>




    
  

}
else{
    <h1>No Accounts</h1>
}

